
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.drako{
    text-align: center;
    margin-top: 16px;
}
a{
    text-align: center;

    color: black;
    font-size: 18px;
    text-transform: uppercase;
}
a:hover{
    color: rgb(17, 51, 240);
  }
h1{
    text-align: center;
    margin-top:30px ;
}
#OBT-datos{
width: 30%;
height: 80vh;
max-width: 1200px;
margin: auto;
border: 1px solid green;
margin-top: 50px;
margin-bottom: 50px;
box-shadow: 7px 7px 15px rgb(96, 9, 117);
}

#form-int{
    display: block;
 
}
label{
    margin: 10px;
    font-size: 18px;
}
input{
    display: block;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    width: 90%;
    margin: 30px;
    padding:10px;
    font-size: 18px;
}

#enviar{
    border:none;
    background-color: none;
    width: 100%;
    margin-top: 60px;
    background-color: lightblue;
    opacity: .6;
    text-transform: uppercase;
    padding: 20px;
    cursor: pointer;
}
#enviar:hover{

    opacity: 1;
    background: rgb(6, 65, 153);
    color: #fff;
}

#bad{
    border: 1px solid red;
    margin-top: 20px;
    text-align: center;
   padding: 10px;
   color: #fff;
   background-color: rgb(104, 9, 9);
   font-size: 20px;
   text-transform: uppercase;
}


#good{
    border: 1px solid rgb(11, 255, 121);
    margin-top: 20px;
    text-align: center;
   padding: 10px;
   color: #fff;
   background-color: rgb(8, 255, 21);
   font-size: 20px;
   text-transform: uppercase;
   margin: auto;
}