*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.contenedor{
    text-align: center;
    margin: 70px;
}

img{
    width: 50%;
}


a{
    text-decoration: none;
    margin:40px;
    text-align: center; 
    width: 50%;
    padding: 10px;
    text-transform: uppercase;
    color: black;
    background-color: aliceblue;
    opacity: 0.6;
    transition: 1s;
}


.inicio{
    margin-top:40px;
}

a:hover{
    opacity: 1;
    background-color: rgb(8, 61, 107);
    color: aliceblue;
}


#contn{
    border:1px solid red
}